version: '3.8'
services:
  postgres:
    image: postgres:18
    restart: unless-stopped
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: test
      POSTGRES_DB: val_tactics
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql
      - ./schema.sql:/docker-entrypoint-initdb.d/01-schema.sql
      - ./maps.sql:/docker-entrypoint-initdb.d/02-maps.sql

volumes:
  pgdata:
